<form>
  <div class="system-customizer-settings">
    <p>
      Customize system properties of the Cyberpunk RED system here. By default, only a limited set
      of recommended entries are available to modify, but all can be unlocked by enabling the
      "Allow All Configuration Sets" setting.
    </p>
    <p>
      To use this module, select the part of the system you want to configure from the dropdown,
      then add your new entry by providing a "Key" and "Value. The "Key" should use alphanumeric
      characters without any spaces, and once set cannot be changed. This will be the value
      used under the hood when you select your new custom option on a piece of gear, clothing, etc.
      The "Value" will be what is displayed in the UI, and be modified later, so if you discover a
      typo or want to rename an option you have created, you can do so. While you are editing a row,
      the default entries in that configuration set will be displayed for reference.
    </p>
    <p>
      While you can remove a configuration you have created, be very careful when doing so - if you
      have any items anywhere in your game (even just on character sheets) using that configuration,
      they could break and become unusable or unopenable until the configuration is recreated.
    </p>
    <p class="module-warning">
      Don't forget to take backups of your world when using this module, as certain overrides or
      configurations have the potential to break items within your world or possibly your entire game.
      With that said, enjoy customizing your game!
    </p>
    {{#each customizations as |customization i|}}
      <div class="customizer-row" data-existing="{{customization.existing}}">
        <div class="form-group">
          <label for="changes.{{i}}.group">
            Configuration Set:
            <select name="changes.{{i}}.group" {{#if customization.existing}}disabled{{/if}}>
              <optgroup label="Recommended Configurations">
                {{selectOptions ../recommendedGroups selected=customization.group}}
              </optgroup>
              {{#if ../showOtherGroups}}
                <optgroup label="Other Configurations">
                  {{selectOptions ../groups selected=customization.group}}
                </optgroup>
              {{/if}}
            </select>
          </label>
          <label for="changes.{{i}}.key">
            Key:
            <input name="changes.{{i}}.key" value="{{customization.key}}" type="text"
                   {{#if customization.existing}}disabled{{/if}} class="row-key-input" />
          </label>
          <label for="changes.{{i}}.value">
            Value:
            <input name="changes.{{i}}.value" value="{{customization.value}}" type="text" />
          </label>
          <label for="changes.{{i}}.remove" class="checkbox-label">
            Remove
            <input name="changes.{{i}}.remove" type="checkbox" {{#if customization.removing}}checked{{/if}} />
          </label>
        </div>
        <div class="key-format-warning row-warning">
          WARNING: Avoid spaces and non-alphanumeric characters in config keys for best results.
        </div>
        <div class="removal-warning row-warning">
          {{#if customization.existing}}WARNING: Removing an existing customization might break your game!{{/if}}
        </div>
        <div class="current-values">
          <div>
            Default Entries in Group <code class="group-name"></code>
            (<code>key:</code> value)
          </div>
          <ul class="current-value-list"></ul>
        </div>
      </div>
    {{/each}}
    <div class="spacer">&nbsp;</div>
    <div class="flexrow button-row">
      <div>
        <button type="submit" name="add">
          <i class="fas fa-plus"></i> Add Row
        </button>
      </div>
      <div>
        <button type="submit" name="save">
          <i class="fas fa-save"></i> Save Changes
        </button>
      </div>
    </div>
    <p class="text-center">
      You must save your changes within this dialog.
      Note that Foundry will be reloaded when you save your changes :)
    </p>
  </div>
</form>
